@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.gradient {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, rgb(255, 7, 48), white);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.gradient::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  border-top: 1px solid rgba(255, 255, 255, 0.623);
}
.gradient .grad {
  position: absolute;
  filter: blur(150px);
}
.gradient .grad:nth-child(1) {
  position: absolute;
  width: 100%;
  height: 400px;
  top: -100px;
  background: rgb(255, 0, 170);
}
.gradient .grad:nth-child(2) {
  position: absolute;
  width: 300px;
  height: 300px;
  bottom: 20px;
  left: 30px;
  background: rgb(16, 255, 255);
}
.gradient .grad:nth-child(3) {
  position: absolute;
  width: 150px;
  height: 200px;
  bottom: 20px;
  right: 30px;
  background: rgb(251, 255, 20);
}
.social {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.social ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social ul li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px;
  height: 100px;
  width: 100px;
  border: 1px solid rgba(255, 255, 255, 0.623);
  border-right: 1px solid rgba(255, 255, 255, 0.26);
  border-bottom: 1px solid rgba(255, 255, 255, 0.233);
  border-radius: 50%;
  list-style-type: none;
  backdrop-filter: blur(2px);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.151);
  transition: 0.5s;
  overflow: hidden;
}
.social ul li:hover {
  transform: translateY(-30px);
}
.social ul li::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.596);
  right: -100px;
  transform: skewX(45deg);
  transition: 0.5s;
  z-index: 10;
}
.social ul li:hover::after {
  transform: skewX(45deg) translateX(-250px);
}
.social ul li a {
  position: absolute;
  color: #fff;
}
.social ul li a i {
  font-size: 40px;
}
.sign {
  position: absolute;
  color: rgb(255, 255, 255);
  text-align: center;
  bottom: 160px;
  left: 50%;
  transform: translateX(-50%);
  line-height: 2rem;
}
.sign h2 {
  color: rgb(0, 217, 255);
  font-size: 4rem;
  opacity: 0.4;
  padding: 20px;
}
.sign p {
  font-size: 2rem;
}
